html, body {
    height: 100%;
    max-height: 100%;
}

.nav-custom {
    background-color: #00a79d;
    padding: 0 !important;
    height: 8vh;
}

.logo-custom {
    background-color: #444444;
    color: #00a79d !important;
    padding-right: 10px;
}

.btn-primary {
    background-color: #00a79d;
}

.custom-card {
    width: 22%;
    margin: 2vh;
}

.threat-card {
    border-radius: 2em;
}

.threat-card-body {
    padding: 1vh;
    padding-left: 3.5vh;
}

.information-bar {
    border-bottom: 2px solid #999999;
    padding: 3px
}

.custom-select-column {
    border-right: 2px solid #999999;
    overflow: auto;
    max-height: 100vh;
}

.custom-select-column-header {
    width: 100%;
    height: min-content;
}

.unselected-a {
    color: #4f4f4f;
    background-color: white;
}

.unselected-a:hover {
    color: white;
    background-color: #0069d9;
}

.selected-a {
    color: white;
    background-color: #0069d9;
}

.selected-a:hover {
    color: white;
    background-color: #0069d9;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.custom-green-background {
    background-color: #00cc00;
}

.custom-red-background {
    background-color: #e60000;
}

.custom-white-background {
    background-color: white;
}

.custom-green-color {
    color: #00cc00;
}

.custom-red-color {
    color: #e60000;
}

.custom-white-color {
    color: white;
}

.gira-bar {
    border-bottom: 2px solid #999999;
}

.gira-bar-nav {
    border-left: solid 2px #999999;
    border-right: solid 2px #999999;
    overflow: hidden;

}

.gira-bar-nav-link {
    z-index: 1;
    position: relative;
}

.gira-menu-background{
    padding: 10px;
    position: absolute;
    content: "";
    box-shadow: inset 0 0 0 3000px rgba(255, 255, 255, 0.3);
    filter: blur(3px);
    z-index: 0;
}

.gira-menu-background:hover{
    filter: none;
}

#gira-background-assessment{
    left: -80vh;
    top: -15vh;
}

#gira-background-response{
    left: -200vh;
    top: -15vh;
}

#gira-background-materialisation{
    left: -80vh;
    top: -50vh;
}

#gira-background-consequence{
    left: -80vh;
    top: -15vh;
}

#gira-background-asset{
    left: -80vh;
    top: -15vh;
}

#gira-background-impact{
    left: -130vh;
    top: -50vh;
}

#gira-background-objective{
    left: -190vh;
    top: -15vh;
}

#gira-background-conclusion{
    left: -80vh;
    top: -15vh;
}

h5 {
    text-shadow: 2px 0 0 grey, -2px 0 0 grey, 0 2px 0 grey, 0 -2px 0 grey, 1px 1px grey, -1px -1px 0 grey, 1px -1px 0 grey, -1px 1px 0 grey;
}

#gira-bar-big {
    height: 92vh;
    border-bottom: none;
}