html, body {
    height: 100%;
    max-height: 100%;
}

.custom-card {
    width: 22%;
    margin: 2vh;
}

.threat-card {
    border-radius: 2em;
}

.threat-card-body {
    padding: 1vh;
    padding-left: 3.5vh;
}

.information-bar {
    border-bottom: 2px solid #999999;
    padding: 3px
}

.custom-select-column {
    border-right: 2px solid #999999;
    overflow: auto;
    max-height: 100vh;
}

.custom-select-column-header {
    width: 100%;
    height: min-content;
}

.unselected-a{
    color: #4f4f4f;
    background-color: white;
}

.unselected-a:hover{
    color: white;
    background-color: #0069d9;
}

.selected-a{
    color: white;
    background-color: #0069d9;
}

.selected-a:hover{
    color: white;
    background-color: #0069d9;
}