.btn {
    background-color: #00a79d;
    color: white;
}

.alert-asset {
    background-color: #9C1A1C;
}

.custom-font {
    font-family: SansSerif;
}

.dashboard-row {
    /*border-bottom: 1px solid grey;*/
    /*border-top: 1px solid grey;*/
    padding-top: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-bottom: 20px;

}

.btn-objective-alert {
    margin-bottom: 3px;
    margin-right: 10px
}

.btn-objective-alert-selected {
    background-color: #00cc00;
}

.btn-asset-service-related {
    margin-bottom: 3px;
    background-color: #00cc00
}

.btn-asset-service-unrelated {
    margin-bottom: 3px;
    background-color: #9C1A1C;
}