.btn{
    background-color: #00a79d;
    color: white;
}

.alert-asset{
    background-color: #9C1A1C;
}

.custom-font{
    font-family: SansSerif;
}

.dashboard-row{
    /*border-bottom: 1px solid grey;*/
    /*border-top: 1px solid grey;*/
    padding-top: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-bottom: 20px;

}

