{% extends "templates_supporting/sidebar_asset_management.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{#{% block header %}#}
{#<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/repo.css') }}">#}
{#{% endblock %}#}
{#{% block head %}#}
{##}
{#{% endblock %}#}
{% block script %}
    <script>

    </script>
{% endblock %}

{% block content %}
    <h1>Objective Risk Configuration</h1>
    <hr/>
    <div class="row">
        <div class="col-12">
            <h3>Current Selected Objective:
                <div class="dropdown">
                    <button class="btn btn-primary">{{ this_objective[0].name }}</button>
                    <div class="dropdown-list">
                        {% for objective in repo_objectives %}
                            <a href="/repo/risk/configuration/objective/{{ objective.id }}/">{{ objective.name }}</a>
                        {% endfor %}
                    </div>
                </div>
            </h3>
            <br/>
            {#    <a class="btn btn-primary" href="/repo/threats/"> Detailed Threat View </a>#}
            <h4>Objective Options</h4>
            <h6>Setup the relation between the impact and the threat. This process needs to be
                completed for each objective individually.</h6>
            <hr/>
            {#            <div class="row dashboard-row">#}
            {#                {% for impact in repo_impacts %}#}
            {#                    {% if impact.id|string == impact_id|string %}#}
            {#                        <a href="/repo/risk/configuration/service/{{ service_id }}/impact/{{ impact.id }}/"#}
            {#                           class="btn btn-primary fa fa-edit"#}
            {#                           style="margin-bottom: 3px; background-color: #447e9b">#}
            {#                            Impact | {{ impact.name }}#}
            {#                        </a>#}
            {#                    {% else %}#}
            {#                        <a href="/repo/risk/configuration/service/{{ service_id }}/asset/{{ impact.id }}/"#}
            {#                           class="btn btn-primary fa fa-check"#}
            {#                           style="margin-bottom: 3px; background-color: #00cc00">#}
            {#                            Impact | {{ impact.name }}#}
            {#                        </a>#}
            {#                    {% endif %}#}
            {#                {% endfor %}#}

            {#            </div>#}
            <form action="/repo/risk/configuration/objective/{{ objective_id }}/" method="post">
                <div class="row dashboard-row">
                    <div class="col-12">
                        <h4>Objective Options Calculation </h4>
                        {% for objective_calculation_wrapper in array_objective_calculation %}
                            <div class="row dashboard-row">
                                <div class="col-2 custom-select-column">
                                    {% for temp_header in objective_calculation_wrapper[:-3] %}
                                        Impact: {{ temp_header.impact.name }} | State:
                                        {{ temp_header.state }}
                                        <br/>
                                    {% endfor %}

                                </div>
                                <div class="col-3">
                                    <div class="row dashboard-row">
                                        <h5>Low</h5>
                                    </div>
                                    <div class="row dashboard-row">
                                        <div class="col-2">
                                            0%
                                        </div>
                                        <div class="col-2">
                                            25%
                                        </div>
                                        <div class="col-2">
                                            50%
                                        </div>
                                        <div class="col-2 ">
                                            75%
                                        </div>
                                        <div class="col-2">
                                            100%
                                        </div>
                                    </div>
                                    <div class="row dashboard-row">
                                        <div class="col-10">
                                            <output>0</output>
                                            <input type="range" class="form-control-range"
                                                   name="low{% for temp_header in objective_calculation_wrapper[:-3] %}|{{ temp_header.impact.id }}|{{ temp_header.state }}{% endfor %}"
                                                   id="low{% for temp_header in objective_calculation_wrapper[:-3] %}|{{ temp_header.impact.id }}|{{ temp_header.state }}{% endfor %}"
                                                   step="1"
                                                   min="0"
                                                   max="100"
                                                   value="{{ objective_calculation_wrapper[-3] }}"
                                                   oninput="this.previousElementSibling.value = this.value">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="row dashboard-row">
                                        <h5>Medium</h5>
                                    </div>
                                    <div class="row dashboard-row">
                                        <div class="col-2">
                                            0%
                                        </div>
                                        <div class="col-2">
                                            25%
                                        </div>
                                        <div class="col-2">
                                            50%
                                        </div>
                                        <div class="col-2 ">
                                            75%
                                        </div>
                                        <div class="col-2">
                                            100%
                                        </div>
                                    </div>
                                    <div class="row dashboard-row">
                                        <div class="col-10">
                                            <output>0</output>

                                            <input type="range" class="form-control-range"
                                                   name="med{% for temp_header in objective_calculation_wrapper[:-3] %}|{{ temp_header.impact.id }}|{{ temp_header.state }}{% endfor %}"
                                                   id="med{% for temp_header in objective_calculation_wrapper[:-3] %}|{{ temp_header.impact.id }}|{{ temp_header.state }}{% endfor %}"
                                                   step="1"
                                                   min="0"
                                                   max="100"
                                                   value="{{ objective_calculation_wrapper[-2] }}"
                                                   ,
                                                   name="objective_state_alert_3"
                                                   oninput="this.previousElementSibling.value = this.value">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="row dashboard-row">
                                        <h5>High</h5>
                                    </div>
                                    <div class="row dashboard-row">
                                        <div class="col-2">
                                            0%
                                        </div>
                                        <div class="col-2">
                                            25%
                                        </div>
                                        <div class="col-2">
                                            50%
                                        </div>
                                        <div class="col-2 ">
                                            75%
                                        </div>
                                        <div class="col-2">
                                            100%
                                        </div>
                                    </div>
                                    <div class="row dashboard-row">
                                        <div class="col-10">
                                            <output>0</output>
                                            <input type="range" class="form-control-range"
                                                   name="high{% for temp_header in objective_calculation_wrapper[:-3] %}|{{ temp_header.impact.id }}|{{ temp_header.state }}{% endfor %}"
                                                   id="high{% for temp_header in objective_calculation_wrapper[:-3] %}|{{ temp_header.impact.id }}|{{ temp_header.state }}{% endfor %}"
                                                   step="1"
                                                   min="0"
                                                   max="100"
                                                   value="{{ objective_calculation_wrapper[-1] }}"
                                                   ,
                                                   name="objective_state_alert_3"
                                                   oninput="this.previousElementSibling.value = this.value">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>


                <div class="row dashboard-row">
                    <button type="submit" class="btn btn-primary" style="margin-right: 3px; ">
                        Submit
                    </button>
                </div>
            </form>
        </div>
        {#        <div class="col-2">#}
        {#            <h3>Current Selections</h3>#}
        {#            <hr/>#}
        {#            Threat: Ransomware#}
        {#            <br/>#}
        {#            Asset: Asset1#}
        {#        </div>#}
    </div>
{% endblock %}
