{#{% extends "base.html" %}#}
{% extends "templates_supporting/sidebar_asset_management.html" %}

{% block content %}
    <form action="/assets/{{ asset }}/" , method="post">
        <div class="row d-flex information-bar">
            <div class="col-10">
                <h5> Assets Setup: x/x Remaining: x</h5>
            </div>
            {% if asset != -1 %}
                <div class="col-2">
                    <button type="submit" class="btn btn-primary">Select Vulnerabilities ></button>
                </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-2 custom-select-column">
                <h3> Select Asset</h3>
                <hr>
                <ul class="list-group list-group-flush">
                    {% for tempAsset in assets %}
                        <a href="/assets/{{ tempAsset.VReport_assetID }}/" class="list-group-item
                  {% if tempAsset == asset %}
                   selected-a
                   {% else %}
                   unselected-a
                   {% endif %}
                    ">Asset {{ tempAsset.VReport_assetID }}
                            <br>(0/10 Vulnurabilities Configured)
                        </a>
                    {% endfor %}
                </ul>
            </div>
            {% if asset == -1 %}
                <div class="col-10 d-flex flex-wrap align-content-start custom-select-column">
                    <h2> Please select an asset from the left list to proceed</h2>
                </div>
            {% else %}
                <div class="col-5 d-flex flex-wrap align-content-start custom-select-column">
                    <div class="row flex-grow custom-select-column-header">
                        <h3> Proposed Vulnerabilites</h3>
                    </div>

                    {% for tempCVE in proposedCVEArray %}
{#                        <div class="card custom-card ">#}
{#                            <div class="card-body">#}
{#                                <h5 class="card-title">{{ tempCVE[0].CVEId }}</h5>#}
{#                                <p class="card-text">CVSS:.</p>#}
{#                                <!--<button class="btn btn-primary" type="button" data-toggle="modal" data-target="#myModal">Configure-->#}
{#                                <!--</button>-->#}
{#                                <label class="form-check-label">#}
{#                                    <input class="form-check-input" type="checkbox" name="{{ tempCVE[0].id }}"#}
{#                                           value="Y"> Add CVE#}
{#                                </label>#}
{#                            </div>#}
{#                        </div>#}
                        <div class="card bg-light mb-3 custom-card custom-card-assessment" style="max-width: 18rem;">
                            <div class="card-header"> CVE - {{ tempCVE }}</div>
                            <div class="card-body">
                                <h4 class="card-title">CVSS</h4>
                                <p class="card-text"> 5 </p>
                                <h4 class="card-title">Related CWE</h4>
                                <p class="card-text"> CWE - XXX </p>
                                <p class="card-text"> CWE - XXX </p>
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" name="{{ tempCVE }}" value="Y">Add
                                    CVE
                                </label>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="col-5 d-flex flex-wrap align-content-start custom-select-column">
                    <div class="row custom-select-column-header">
                        <h3> Other Vulnerabilites</h3>
                    </div>
                    {% for tempCVE in othersCVEArray %}
{#                        <div class="card custom-card">#}
{#                            <div class="card-body">#}
{#                                <h5 class="card-title">CVE - {{ tempCVE }}</h5>#}
{#                                <p class="card-text">CVSS:.</p>#}
{#                                <label class="form-check-label">#}
{#                                    <input class="form-check-input" type="checkbox" name="{{ tempCVE }}" value="Y">Add#}
{#                                    CVE#}
{#                                </label>#}
{#                                <!--<button class="btn btn-primary" type="button" data-toggle="modal" data-target="#myModal">Configure-->#}
{#                                <!--</button>-->#}
{#                            </div>#}
{#                        </div>#}

                        <div class="card bg-light mb-3 custom-card custom-card-assessment" style="max-width: 18rem;">
                            <div class="card-header"> CVE - {{ tempCVE }}</div>
                            <div class="card-body">
                                <h4 class="card-title">CVSS</h4>
                                <p class="card-text"> 5 </p>
                                <h4 class="card-title">Related CWE</h4>
                                <p class="card-text"> CWE - XXX </p>
                                <p class="card-text"> CWE - XXX </p>
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" name="{{ tempCVE }}" value="Y">Add
                                    CVE
                                </label>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </form>


{% endblock %}