{% extends "templates_supporting/sidebar_asset_management.html" %}

{% block head %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/general_dashboard.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/Treant.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/general_dashboard_tree.css') }}">
    {#    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/css_tree.css') }}">#}
{#    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/arg-graph.min.css') }}">#}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}


{% block script %}
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <script src=" https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
{#    <script type="text/javascript" src="{{ url_for('static', filename='js/arg-graph.min.js') }}"></script>#}
        <script type="text/javascript" src="{{ url_for('static', filename='js/Treant.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/raphael.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/dashboard_tree.js') }}"></script>
    {#  <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>#}
{% endblock %}

{% block content %}
    <div id="gira-bar" class="row flex flex-grow-1 general-dashboard-bar">
        <a class="general-dashboard-header" href="/general_dashboard/asset_view/">
            <h3> Asset View </h3>
        </a>
        <a class="general-dashboard-header" href="/general_dashboard/threat_view/">
            <h3> Threat View </h3>
        </a>
        <a class="selected-general-dashboard-header" href="/general_dashboard/asset_view/">
            <h3> Tree View </h3>
        </a>
    </div>

    <div class="row">
        <div id="custom-table-column" class="col-4 custom-select-column">
            <h5> Select Threat </h5>
            <table id="asset-table-1" class="table table-striped table-bordered table-custom" style="width:100%">
                <thead>
                <tr>
                    <th colspan="4"> Vulnerability</th>
                <tr>
                    <th>Name</th>
                    <th>Severity</th>
                    <th>Occurances</th>
                    <th>Select</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>CAPEC - 128</td>
                    <td>Severe</td>
                    <td>10</td>
                    <td>
                        <button class="btn btn-primary"> Select</button>
                    </td>
                </tr>
                <tr>
                    <td>CAPEC - 151</td>
                    <td>Severe</td>
                    <td>1</td>
                    <td>
                        <button class="btn btn-primary"> Select</button>
                    </td>
                </tr>
                <tr>
                    <td>CAPEC - 416</td>
                    <td>Severe</td>
                    <td>24</td>
                    <td>
                        <button class="btn btn-primary"> Select</button>
                    </td>
                </tr>
                </tbody>
            </table>
            <hr/>
            <h5> Current Threat </h5>
            <div class="card bg-light mb-3 custom-dashboard-single-asset-card" style="max-width: 18rem;">
                <div class="card-header"> In Depth Threat Information</div>
                <div class="card-body">
                    <h4 class="card-title">Description</h4>
                    <p class="card-text"> An adversary modifies content to make it contain something other than what the original content producer intended while keeping the apparent source of the content unchanged. </p>
                    <h4 class="card-title">Skills Required</h4>
                    <p class="card-text"> The adversary requires a tool capable of intercepting the target's communication and generating/creating custom packets to impact the communications. </p>
                    <h4 class="card-title">Consequences</h4>
                    <p class="card-text"> Integrity - Modify Data </p>
                    <h4 class="card-title"> Typical Severity</h4>
                    <p class="card-text"> Medium </p>
                </div>
                <h2 class="custom-card-inner-header"> In Depth Threat Assessment</h2>
                <div class="card-body">
                    <h4 class="card-title">Likelihood - 45%</h4>

                    <h4 class="card-title">Threat Agent Factory</h4>
                    <p class="card-text"> Skill Level - 3/5</p>
                    <p class="card-text"> Motive -5/5 </p>
                    <p class="card-text"> Opportunity -5/5</p>


                    <h4 class="card-title">Vulnerability Factors</h4>
                    <p class="card-text"> Ease of discovery - 1/5</p>
                    <p class="card-text"> Ease of exploit - 2/5</p>
                    <p class="card-text"> Awareness - 1/5 </p>

                    <h4 class="card-title">Impact</h4>

                    <h4 class="card-title">Technical Impacts</h4>
                    <p class="card-text"> Loss of confidentiality - 4/5</p>
                    <p class="card-text"> Loss of integrity - 4/5</p>
                    <p class="card-text"> Loss of availability -1/5</p>

                    <h4 class="card-title">Business Impact</h4>
                    <p class="card-text"> >Financial Damage - 2/5</p>
                    <p class="card-text"> Reputation Damage - 4/5</p>
                    <p class="card-text"> Non-compliance - 0/5</p>

                    <hr/>
                    <a href="#" class="card-link"> Redo Assessment</a>
                </div>
            </div>
        </div>
        <div class="col-8 custom-select-column">
            <div id="tree-simple" style="width:100%; height: 100%"> </div>
        </div>
    </div>
{% endblock %}