{#{% extends "base.html" %}#}
{% extends "templates_supporting/sidebar_asset_management.html" %}

{% block content %}
    <form action="/home" , method="get">
        <div id="gira-bar" class="row d-flex flex-grow-1 gira-bar">
            <div class="col-2 gira-bar-nav ">
                {#                <img id="gira-background-assessment" src={{ url_for('static', filename='/images/gira_menu_assessment.jpg') }}#}
                {#                     class="gira-menu-background">#}
                <a class="gira-bar-nav-link custom-white-color" href="/gira_assess/gira_assess_exposure">
                    <h5> Exposure </h5>
                </a>
            </div>
            <div class="col-1 gira-bar-nav ">
                {#                <img id="gira-background-response" src={{  url_for('static', filename='/images/gira_menu_response.jpg') }}#}
                {#                     class="gira-menu-background">#}
                <a class="gira-bar-nav-link  custom-white-color" href="/gira_assess/gira_assess_response">
                    <h5> Response </h5>
                </a>
            </div>
            <div class="col-2 gira-bar-nav ">
                {#                <img id="gira-background-materialisation" src={{  url_for('static', filename='/images/gira_menu_materialisation.jpg') }}#}
                {#                     class="gira-menu-background">#}
                <a class="gira-bar-nav-link custom-white-color" href="/gira_assess/gira_assess_materialisation">
                    <h5> Materialisation </h5>
                </a>
            </div>
            <div class="col-2 gira-bar-nav ">
                {#                <img id="gira-background-consequence" src={{  url_for('static', filename='/images/gira_menu_consequences.jpg') }}#}
                {#                     class="gira-menu-background">#}
                <a class="gira-bar-nav-link   custom-white-color" href="/gira_assess/gira_asess_consequence">
                    <h5> Consequence </h5>
                </a>
            </div>
            <div class="col-2 gira-bar-nav ">
                {#                <img id="gira-background-asset" src={{  url_for('static', filename='/images/gira_menu_asset.jpg') }}#}
                {#                     class="gira-menu-background">#}
                <a class="gira-bar-nav-link   custom-white-color" href="/gira_assess/gira_assess_asset_status">
                    <h5> Asset Status</h5>
                </a>
            </div>
            <div class="col-1 gira-bar-nav ">
                {#                <img id="gira-background-impact" src={{  url_for('static', filename='/images/gira_menu_impact.jpg') }}#}
                {#                     class="gira-menu-background">#}
                <a class="gira-bar-nav-link   custom-white-color" href="/gira_assess/gira_assess_asset_impact">
                    <h5>Impact</h5>
                </a>
            </div>
            <div class="col-2 gira-bar-nav custom-border-finished">
                {#                <img id="gira-background-objective" src={{  url_for('static', filename='/images/gira_menu_objective.jpg') }}#}
                {#                     class="gira-menu-background">#}
                <a class="gira-bar-nav-link   custom-white-color" href="/gira_assess/gira_assess_objective">
                    <h5> Objective</h5>
                </a>
            </div>
{#            <div class="col-1 gira-bar-nav ">#}
                {#                <img id="gira-background-conclusion" src={{  url_for('static', filename='/images/gira_menu_conclusion.jpg') }}#}
                {#                     class="gira-menu-background">#}
{#                <a class="gira-bar-nav-link custom-white-color" href="/gira_assess/gira_assess_result">#}
{#                    <h5> Result </h5>#}
{#                </a>#}
{#            </div>#}
        </div>
        <div class="row">
            <div class="col-2 custom-select-column">
                <h3> Selected Threat</h3>
                <hr>
                <ul class="list-group list-group-flush">
                    <div href="" class="list-group-item">CAPEC - ####
                    </div>
                </ul>
                <br>
                <br>
                <br>
                <br>
                <hr>
                <h3> Selected Responses</h3>
                <ul class="list-group list-group-flush">
                    <div href="" class="list-group-item">Response 1 - Do nothing
                    </div>
                    <div href="" class="list-group-item">Response 2 - Add software
                    </div>
                </ul>
            </div>
            <div class="col-9 d-flex flex-wrap align-content-start custom-select-column">
                <h3>Monetary </h3>
                <table class="table  table-bordered">
                    <thead>
                    <tr>
                        <th scope="col" class="custom-table-header"> Asset:Consequence</th>
                        <th scope="col" class="custom-table-header" colspan="3"> IT Department Equipment: Modify data
                        </th>
                        <th scope="col" class="custom-table-header"> ....
                        </th>
                    </tr>
                    </thead>
                    <thead class="thead-light">
                    <tr>
                        <th scope="col" class="custom-table-header"> Impact</th>
                        <th scope="col" class="custom-table-header" colspan="3"> Defective</th>
                        <th scope="col" class="custom-table-header"> ....</th>
                    </tr>
                    </thead>
                    <thead class="thead-light">
                    <tr>
                        <th scope="col" class="custom-table-header"> State</th>
                        <th scope="col" class="custom-table-header"> In use</th>
                        <th scope="col" class="custom-table-header"> Online</th>
                        <th scope="col" class="custom-table-header"> Offline</th>
                        <th scope="col" class="custom-table-header"> ...</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">State: x > 10mil</th>
                        <td> xx%</td>
                        <td> yy%</td>
                        <td> xx%</td>
                        <td> ....</td>


                    </tr>
                    <tr>
                        <th scope="row">State: 5mil< x <10mil</th>
                        <td> xx%</td>
                        <td> yy%</td>
                        <td> xx%</td>
                        <td> ....</td>

                    </tr>
                    <tr>
                        <th scope="row">x <5mil</th>
                        <td> xx%</td>
                        <td> yy%</td>
                        <td> xx%</td>
                        <td> ....</td>

                    </tr>
                    </tbody>
                </table>
            </div>


            <div class="col-1 custom-select-column">
                <button type="submit" name="new_group_flow_form" class="btn btn-primary">Finish >
                </button>
            </div>
        </div>

        </div>
    </form>


{% endblock %}