{#{% extends "base.html" %}#}
{% extends "templates_supporting/sidebar_asset_management.html" %}

{% block content %}
    <form action="/assets/{{ asset }}/vulnerabilities/{{ vulnerability }}/" , method="post">
        <div class="row d-flex information-bar">
            <div class="col-10">
                <h5> Assets Setup: x/x Remaining: x</h5>
            </div>
            <div class="col-2">
                <button type="submit" class="btn btn-primary">Select Threats ></button>
            </div>
        </div>
        <div class="row">
            <div class="col-2 custom-select-column">
                <h3> Select Asset</h3>
                <hr>
                <ul class="list-group list-group-flush">
                    {% for tempAsset in assets %}
                        <a href="/assets/{{ tempAsset.VReport_assetID }}/" class="list-group-item
                  {% if tempAsset == asset %}
                   selected-a
                   {% else %}
                   unselected-a
                   {% endif %}
                    ">Asset {{ tempAsset.VReport_assetID }}
                            <br>(0/10 Vulnurabilities Configured)
                        </a>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-2 custom-select-column">
                <h3> Select CVE</h3>
                <hr>
                <ul class="list-group list-group-flush">
                    <a href="" class="list-group-item">CVE - ####
                    </a>
                    <a class="list-group-item">CVE - ####
                    </a>
                    <a class="list-group-item">CVE - ####
                    </a>

                </ul>
            </div>
            <div class="col-4 d-flex flex-wrap align-content-start custom-select-column">
                <div class="row flex-grow custom-select-column-header">
                    <h3> Proposed Threats</h3>
                </div>

                <div class="card bg-light mb-3 custom-card custom-card-assessment" style="max-width: 18rem;">
                    <div class="card-header"> CAPEC - xx</div>
                    <div class="card-body">
                        <h4 class="card-title">CVSS</h4>
                        <p class="card-text"> 5 </p>
                        <h4 class="card-title">Impacts</h4>
                        <p class="card-text"> XXX </p>
                        <p class="card-text"> XXX </p>
                        <h4 class="card-title">Related CWE </h4>
                        <p class="card-text"> XXX </p>
                        <p class="card-text"> XXX </p>
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" name="{{ tempCVE }}" value="Y">Add
                            CVE
                        </label>
                    </div>
                </div>

                <div class="card bg-light mb-3 custom-card custom-card-assessment" style="max-width: 18rem;">
                    <div class="card-header"> CAPEC - xx</div>
                    <div class="card-body">
                        <h4 class="card-title">CVSS</h4>
                        <p class="card-text"> 5 </p>
                        <h4 class="card-title">Impacts</h4>
                        <p class="card-text"> XXX </p>
                        <p class="card-text"> XXX </p>
                        <h4 class="card-title">Related CWE </h4>
                        <p class="card-text"> XXX </p>
                        <p class="card-text"> XXX </p>
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" name="{{ tempCVE }}" value="Y">Add
                            CVE
                        </label>
                    </div>
                </div>

                <div class="card bg-light mb-3 custom-card custom-card-assessment" style="max-width: 18rem;">
                    <div class="card-header"> CAPEC - xx</div>
                    <div class="card-body">
                        <h4 class="card-title">CVSS</h4>
                        <p class="card-text"> 5 </p>
                        <h4 class="card-title">Impacts</h4>
                        <p class="card-text"> XXX </p>
                        <p class="card-text"> XXX </p>
                        <h4 class="card-title">Related CWE </h4>
                        <p class="card-text"> XXX </p>
                        <p class="card-text"> XXX </p>
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" name="{{ tempCVE }}" value="Y">Add
                            CVE
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-4 d-flex flex-wrap align-content-start custom-select-column">
                <div class="custom-select-column-header row">
                    <h3> Other Threats</h3>
                </div>

                <div class="card bg-light mb-3 custom-card custom-card-assessment" style="max-width: 18rem;">
                    <div class="card-header"> CAPEC - xx</div>
                    <div class="card-body">
                        <h4 class="card-title">CVSS</h4>
                        <p class="card-text"> 5 </p>
                        <h4 class="card-title">Impacts</h4>
                        <p class="card-text"> XXX </p>
                        <p class="card-text"> XXX </p>
                        <h4 class="card-title">Related CWE </h4>
                        <p class="card-text"> XXX </p>
                        <p class="card-text"> XXX </p>
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" name="{{ tempCVE }}" value="Y">Add
                            CVE
                        </label>
                    </div>
                </div>

                <div class="card bg-light mb-3 custom-card custom-card-assessment" style="max-width: 18rem;">
                    <div class="card-header"> CAPEC - xx</div>
                    <div class="card-body">
                        <h4 class="card-title">CVSS</h4>
                        <p class="card-text"> 5 </p>
                        <h4 class="card-title">Impacts</h4>
                        <p class="card-text"> XXX </p>
                        <p class="card-text"> XXX </p>
                        <h4 class="card-title">Related CWE </h4>
                        <p class="card-text"> XXX </p>
                        <p class="card-text"> XXX </p>
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" name="{{ tempCVE }}" value="Y">Add
                            CVE
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </form>

{% endblock %}