{% extends "sidebar_asset_management.html" %}
{% block content %}

<!--    MAIN -->
<h1>Asset Hardware List</h1>
<div style="text-align: right; padding-bottom: 20px">
    <button type="button" class="btn btn-primary" onclick=""> Add new +></button>
    <br/>
</div>
<table id="example" class="table  table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>IP</th>
            <th>Model</th>
            <th>Vendor</th>
            <th>Domain</th>
            <th>Status</th>
            <th>Type</th>
            <th>Created By</th>
            <th>CreatedDate</th>
            <th>AssignedTo</th>
            <th>ManagedBy</th>
            <th>UsageType</th>
            <th>Location</th>
            <th>Classification</th>
            <th>InformationProcessed</th>
        </tr>
    </thead>
    <tbody>
    <tr>
        <td>Desc01</td>
        <td>127.100.100.001</td>
        <td>RJ45</td>
        <td>Intel</td>
        <td>Work</td>
        <td>Assigned</td>
        <td>Workstation</td>
        <td>User01</td>
        <td>30/05/2019</td>
        <td>User123</td>
        <td>User01</td>
        <td>Permanent</td>
        <td>Lab A.2.1</td>
        <td>Critical</td>
        <td>Business</td>
    </tr>
    <tr>
        <td>Lap 01</td>
        <td>127.100.100.004</td>
        <td>Macbook Pro 13</td>
        <td>Apple</td>
        <td>Work</td>
        <td>Assigned</td>
        <td>Laptop</td>
        <td>User15</td>
        <td>30/05/2019</td>
        <td>User323</td>
        <td>User15</td>
        <td>Add-hoc</td>
        <td>Administration</td>
        <td>Critical</td>
        <td>Personal</td>
    </tr>
    <tr>
        <td>Lap 02</td>
        <td>127.100.100.005</td>
        <td>Macbook Pro 13</td>
        <td>Apple</td>
        <td>Work</td>
        <td>Under repair</td>
        <td>Laptop</td>
        <td>User15</td>
        <td>30/05/2019</td>
        <td>User323</td>
        <td>User15</td>
        <td>Add-hoc</td>
        <td>Clinic A.1</td>
        <td>Critical</td>
        <td>Personal</td>
    </tr>
    <tr>
        <td>Lap 03</td>
        <td>127.100.100.006</td>
        <td>Macbook Pro 13</td>
        <td>Apple</td>
        <td>Work</td>
        <td>Assigned</td>
        <td>Laptop</td>
        <td>User18</td>
        <td>30/05/2019</td>
        <td>User115</td>
        <td>User15</td>
        <td>Permanent</td>
        <td>Department A</td>
        <td>Critical</td>
        <td>Business</td>
    </tr>
        <tr>
        <td>Lap 04</td>
        <td>127.100.100.007</td>
        <td>Macbook Pro 13</td>
        <td>Apple</td>
        <td>Work</td>
        <td>Assigned</td>
        <td>Laptop</td>
        <td>User18</td>
        <td>30/05/2019</td>
        <td>User115</td>
        <td>User15</td>
        <td>Permanent</td>
        <td>Department A</td>
        <td>Critical</td>
        <td>Business</td>
    </tr>
    <tr>
        <td>L3</td>
        <td>127.100.100.003</td>
        <td>SGF2</td>
        <td>TPlink</td>
        <td>Work</td>
        <td>Assigned</td>
        <td>Rooter</td>
        <td>User01</td>
        <td>30/05/2019</td>
        <td>User123</td>
        <td>User01</td>
        <td>Permanent</td>
        <td>City</td>
        <td>Critical</td>
        <td>Business</td>
    </tr>
    <tr>
        <td>L2</td>
        <td>127.100.100.002</td>
        <td>SD56</td>
        <td>Intel</td>
        <td>Work</td>
        <td>Service</td>
        <td>Rooter</td>
        <td>User01</td>
        <td>30/05/2019</td>
        <td>User123</td>
        <td>User01</td>
        <td>Permanent</td>
        <td>City</td>
        <td>Critical</td>
        <td>Business</td>
    </tr>
    <tr>
        <td>Lap 05</td>
        <td>127.100.100.008</td>
        <td>XPS 13</td>
        <td>Dell</td>
        <td>Work</td>
        <td>Assigned</td>
        <td>Laptop</td>
        <td>User20</td>
        <td>30/05/2019</td>
        <td>User115</td>
        <td>User15</td>
        <td>Permanent</td>
        <td>Department B</td>
        <td>Critical</td>
        <td>Business</td>
    </tr>
    <tr>
        <td>Desc02</td>
        <td>127.100.100.062</td>
        <td>Lenovo Intel Core i5</td>
        <td>Lenovo</td>
        <td>Work</td>
        <td>Assigned</td>
        <td>Workstation</td>
        <td>User24</td>
        <td>30/05/2019</td>
        <td>User18</td>
        <td>User01</td>
        <td>Permanent</td>
        <td>Administration</td>
        <td>Critical</td>
        <td>Business</td>
    </tr>
            </tbody>
             <tfoot>
                 <tr>
                    <th>Name</th>
                    <th>IP</th>
                    <th>Model</th>
                    <th>Vendor</th>
                    <th>Domain</th>
                    <th>Status</th>
                    <th>Type</th>
                    <th>Created By</th>
                    <th>CreatedDate</th>
                    <th>AssignedTo</th>
                    <th>ManagedBy</th>
                    <th>UsageType</th>
                    <th>Location</th>
                    <th>Classification</th>
                    <th>InformationProcessed</th>
                </tr>
             </tfoot>
        </table>
{%- endblock %}

{% block script %}

    <script>
    $(document).ready(function() {
    $('#example').DataTable();
    } );
    </script>
{% endblock %}
