{% extends "sidebar_asset_management.html" %}
{% block content %}

<!--    MAIN -->
<h1>Asset Non-IT List</h1>
<div style="text-align: right; padding-bottom: 20px">
    <button type="button" class="btn btn-primary" onclick=""> Add new +></button>
    <br/>
</div>
<table id="example" class="table  table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Model</th>
            <th>Vendor</th>
            <th>Status</th>
            <th>Type</th>
            <th>Created By</th>
            <th>CreatedDate</th>
            <th>AssignedTo</th>
            <th>ManagedBy</th>
            <th>UsageType</th>
            <th>Location</th>
            <th>InformationProcessed</th>
        </tr>
    </thead>
    <tbody>
    <tr>
        <td>Proj01</td>
        <td>NPX440</td>
        <td>PHILIPS</td>
        <td>Ready to deploy</td>
        <td>Projector</td>
        <td>User01</td>
        <td>30/05/2019</td>
        <td>User123</td>
        <td>User01</td>
        <td>Permanent</td>
        <td>Administration</td>
        <td>Business</td>
    </tr>
    <tr>
        <td>Proj02</td>
        <td>EB W 42</td>
        <td>EPSON</td>
        <td>Under repair</td>
        <td>Projector</td>
        <td>User15</td>
        <td>30/05/2019</td>
        <td>User323</td>
        <td>User15</td>
        <td>Add-hoc</td>
        <td>Administration</td>
        <td>Business</td>
    </tr>
            </tbody>
             <tfoot>
                 <tr>
                    <th>Name</th>
                    <th>Model</th>
                    <th>Vendor</th>
                    <th>Status</th>
                    <th>Type</th>
                    <th>Created By</th>
                    <th>CreatedDate</th>
                    <th>AssignedTo</th>
                    <th>ManagedBy</th>
                    <th>UsageType</th>
                    <th>Location</th>
                    <th>InformationProcessed</th>
                </tr>
             </tfoot>
        </table>
{%- endblock %}

{% block script %}

    <script>
    $(document).ready(function() {
    $('#example').DataTable();
    } );
    </script>
{% endblock %}
