{% extends "sidebar_asset_management.html" %}
{% block content %}

<!--    MAIN -->
<h1>IT Asset - Asset Type</h1>
<table id="example" class="table  table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>Shoftware Type</th>
            <th>Description</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
    <tr>
        <td>Access Point</td>
        <td>Access Point</td>
        <td>15/06/2020</td>
    </tr>
        <tr>
        <td>Printer</td>
        <td>Printer</td>
        <td>15/06/2020</td>
    </tr>
    <tr>
        <td>Router</td>
        <td>Router</td>
        <td>15/06/2020</td>
    </tr>
    <tr>
        <td>Switch</td>
        <td>Switch</td>
        <td>15/06/2020</td>
    </tr>
    <tr>
        <td>Application Server</td>
        <td>Application Server</td>
        <td>15/06/2020</td>
    </tr>
    <tr>
        <td>Database Server</td>
        <td>Database Server</td>
        <td>15/06/2020</td>
    </tr>
    <tr>
        <td>Unix Workstation</td>
        <td>Unix Workstation</td>
        <td>15/06/2020</td>
    </tr>
    <tr>
        <td>Windows Workstation</td>
        <td>Windows Workstation</td>
        <td>15/06/2020</td>
    </tr>

            </tbody>
             <tfoot>
                 <tr>
                    <th>Shoftware Type</th>
                    <th>Description</th>
                    <th>Date</th>
                </tr>
             </tfoot>
        </table>
{%- endblock %}

{% block script %}

    <script>
    $(document).ready(function() {
    $('#example').DataTable();
    } );
    </script>
{% endblock %}
