{% extends "sidebar_static_information.html" %}

{% block head %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/general_dashboard.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}


{% block script %}
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <script src=" https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
{% endblock %}

{% block content %}
    <div id="gira-bar" class="row flex flex-grow-1 general-dashboard-bar">
        <a class="general-dashboard-header" href="/general_dashboard/asset_view/">
            <h3> Asset View </h3>
        </a>
        <a class="selected-general-dashboard-header" href="/general_dashboard/threat_view/">
            <h3> Threat View </h3>
        </a>
        <a class="general-dashboard-header" href="/general_dashboard/tree_view/">
            <h3> Tree View </h3>
        </a>
    </div>

    <div class="row">
        <div id="custom-table-column" class="col-4 custom-select-column">
            <h5> Select Threat </h5>
            <table id="asset-table-1" class="table table-striped table-bordered table-custom" style="width:100%">
                <thead>
                <tr>
                    <th colspan="4"> Threat</th>
                <tr>
                    <th>Name</th>
                    <th>Severity</th>
                    <th>Occurances</th>
                    <th>Select</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>CAPEC - 128</td>
                    <td>Severe</td>
                    <td>10</td>
                    <td>
                        <button class="btn btn-primary"> Select</button>
                    </td>
                </tr>
                <tr>
                    <td>CAPEC - 151</td>
                    <td>Severe</td>
                    <td>1</td>
                    <td>
                        <button class="btn btn-primary"> Select</button>
                    </td>
                </tr>
                <tr>
                    <td>CAPEC - 416</td>
                    <td>Severe</td>
                    <td> 24</td>
                    <td>
                        <button class="btn btn-primary"> Select</button>
                    </td>
                </tr>
                </tbody>
            </table>
            <hr/>
            <h5> Current Threat </h5>
            <div class="card bg-light mb-3 custom-dashboard-single-asset-card" style="max-width: 18rem;">
                <div class="card-header"> In Depth Threat Information</div>
                <div class="card-body">
                    <h4 class="card-title">Description</h4>
                    <p class="card-text"> An adversary modifies content to make it contain something other than what the
                        original content producer intended while keeping the apparent source of the content
                        unchanged. </p>
                    <h4 class="card-title">Skills Required</h4>
                    <p class="card-text"> The adversary requires a tool capable of intercepting the target's
                        communication and generating/creating custom packets to impact the communications. </p>
                    <h4 class="card-title">Consequences</h4>
                    <p class="card-text"> Integrity - Modify Data </p>
                    <h4 class="card-title"> Typical Severity</h4>
                    <p class="card-text"> Medium </p>
                </div>
                {#                <h2 class="custom-card-inner-header"> In Depth Threat Assessment</h2>#}
                {#                    <div class="card-body">#}
                {#                        <h4 class="card-title">Likelihood</h4>#}
                {##}
                {#                        <h4 class="card-title">Threat Agent Factory</h4>#}
                {#                        <p class="card-text"> Skill Level -x</p>#}
                {#                        <p class="card-text"> Motive -x </p>#}
                {#                        <p class="card-text"> Opportunity -x</p>#}
                {##}
                {##}
                {#                        <h4 class="card-title">Vulnerability Factors</h4>#}
                {#                        <p class="card-text"> Ease of discovery - x</p>#}
                {#                        <p class="card-text"> Ease of exploit - x</p>#}
                {#                        <p class="card-text"> Awareness -x </p>#}
                {##}
                {#                        <h4 class="card-title">Impact</h4>#}
                {##}
                {#                        <h4 class="card-title">Technical Impacts</h4>#}
                {#                        <p class="card-text"> Loss of confidentiality - x</p>#}
                {#                        <p class="card-text"> Loss of integrity - x</p>#}
                {#                        <p class="card-text"> Loss of availability -x</p>#}
                {##}
                {#                        <h4 class="card-title">Business Impact</h4>#}
                {#                        <p class="card-text"> >Financial Damage - x</p>#}
                {#                        <p class="card-text"> Reputation Damage - x</p>#}
                {#                        <p class="card-text"> Non-compliance - x</p>#}
                {##}
                {#                        <hr/>#}
                {#                        <a href="#" class="card-link"> Redo Assessment</a>#}
                {#                    </div>#}
            </div>
        </div>
        <div class="col-8 flex-wrap align-content-start custom-select-column">
            <button id="dashboard_tab_0" class="general-dashboard-tab" onclick=toggleTab(0)>
                <h5> Threat Assessment </h5>
                <i id="dashboard_tab_icon_0" class="fa fa-toggle-right general-dashboard-tab-icon"
                   style="font-size:25px"></i>
            </button>
            <div id="dashboard_tab_content_0" class="row">
                <div class="col-6 d-flex flex-wrap align-content-start">
                    <div class="row flex-grow custom-select-column-header">
                        <h3> Likelihood &lt Medium 50% &gt </h3>
                        <h4> Threat Agent Factory </h4>
                        <label for="formControlRange">Skill Level</label>
                        <input type="range" class="form-control-range" id="formControlRange">
                        <label for="formControlRange">Motive</label>
                        <input type="range" class="form-control-range" id="formControlRange">
                        <label for="formControlRange">Opportunity</label>
                        <h4> Vulnerability Factors</h4>
                        <input type="range" class="form-control-range" id="formControlRange">
                        <label for="formControlRange">Ease of discovery</label>
                        <input type="range" class="form-control-range" id="formControlRange">
                        <label for="formControlRange">Ease of exploit</label>
                        <input type="range" class="form-control-range" id="formControlRange">
                        <label for="formControlRange">Awareness</label>
                        <input type="range" class="form-control-range" id="formControlRange">
                    </div>
                </div>
                <div class="col-6 d-flex flex-wrap align-content-start">
                    <div class="row flex-grow custom-select-column-header">
                        <h3> Impact &lt Medium 59% &gt </h3>
                        <h4> Technical Impact Factor</h4>
                        <label for="formControlRange">Loss of confidentiality</label>
                        <input type="range" class="form-control-range" id="formControlRange">
                        <label for="formControlRange">Loss of integrity</label>
                        <input type="range" class="form-control-range" id="formControlRange">
                        <label for="formControlRange">Loss of availability</label>
                        <input type="range" class="form-control-range" id="formControlRange">
                        <h4> Business Impact Factors</h4>
                        <label for="formControlRange">Financial Damage</label>
                        <input type="range" class="form-control-range" id="formControlRange">
                        <label for="formControlRange">Reputation Damage</label>
                        <input type="range" class="form-control-range" id="formControlRange">
                        <label for="formControlRange">Non-compliance</label>
                        <input type="range" class="form-control-range" id="formControlRange">
                    </div>
                </div>
            </div>
            <hr/>
            <button id="dashboard_tab_1" class="general-dashboard-tab" onclick=toggleTab(1)>
                <h5> Affected Assets </h5>
                <i id="dashboard_tab_icon_1" class="fa fa-toggle-right general-dashboard-tab-icon"
                   style="font-size:25px"></i>
            </button>
            <div id="dashboard_tab_content_1" class="row">
                <div class="card bg-light mb-3 custom-card" style="max-width: 18rem;">
                    <div class="card-header"> Asset: Affected Asset #1</div>
                    <div class="card-body">
                        <h4 class="card-title">Consequences</h4>
                        <p class="card-text"> Data Loss </p>
                    </div>
                </div>
            </div>
            <hr/>
            <button id="dashboard_tab_2" class="general-dashboard-tab" onclick=toggleTab(2)>
                <h5> Possible Consequences </h5>
                <i id="dashboard_tab_icon_2" class="fa fa-toggle-right general-dashboard-tab-icon"
                   style="font-size:25px"></i>
            </button>
            <div id="dashboard_tab_content_2" class="row">
                <div class="card bg-light mb-3 custom-card" style="max-width: 18rem;">
                    <div class="card-header">Modify Data</div>
                    <div class="card-body">
                        <h4 class="card-title">Scope</h4>
                        <p class="card-text"> Integrity</p>
                        <a href="#" class="card-link"> Remove</a>
                        <a href="#" class="card-link"> Edit</a>
                    </div>
                </div>

                <div class="card bg-light mb-3 custom-card" style="max-width: 18rem;">
                    <div class="card-header">Gain Privileges</div>
                    <div class="card-body">
                        <h4 class="card-title">Scope</h4>
                        <p class="card-text">Confidentiality </p>
                        <p class="card-text"> Integrity </p>
                        <p class="card-text"> Authentication </p>
                        <p class="card-text"> Access Control </p>
                        <a href="#" class="card-link"> Remove</a>
                        <a href="#" class="card-link"> Edit</a>
                    </div>
                </div>

                <div class="card bg-light mb-3 custom-card" style="max-width: 18rem;">
                    <div class="card-header"> Execute Unauthorized Commands</div>
                    <div class="card-body">
                        <h4 class="card-title">Scope</h4>
                        <p class="card-text"> Authorisation </p>
                        <a href="#" class="card-link"> Remove</a>
                        <a href="#" class="card-link"> Edit</a>
                    </div>
                </div>

            </div>
            <hr/>
            <button id="dashboard_tab_3" class="general-dashboard-tab" onclick=toggleTab(3)>
                <h5> Relevant Objectives</h5>
                <i id="dashboard_tab_icon_3" class="fa fa-toggle-right general-dashboard-tab-icon"
                   style="font-size:25px"></i>
            </button>
            <div id="dashboard_tab_content_3" class="row">
                <table class="table  table-bordered">
                    <thead>
                    <tr>
                        <th scope="col" class="custom-table-header"> Asset:Consequence</th>
                        <th scope="col" class="custom-table-header" colspan="3"> IT Department Equipment: Modify data
                        </th>
                        <th scope="col" class="custom-table-header"> ....
                        </th>
                    </tr>
                    </thead>
                    <thead class="thead-light">
                    <tr>
                        <th scope="col" class="custom-table-header"> Impact</th>
                        <th scope="col" class="custom-table-header" colspan="3"> Defective</th>
                        <th scope="col" class="custom-table-header"> ....</th>
                    </tr>
                    </thead>
                    <thead class="thead-light">
                    <tr>
                        <th scope="col" class="custom-table-header"> State</th>
                        <th scope="col" class="custom-table-header"> In use</th>
                        <th scope="col" class="custom-table-header"> Online</th>
                        <th scope="col" class="custom-table-header"> Offline</th>
                        <th scope="col" class="custom-table-header"> ...</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">State: x > 10mil</th>
                        <td> 65%</td>
                        <td> 35%</td>
                        <td> 0%</td>
                        <td> ....</td>


                    </tr>
                    <tr>
                        <th scope="row">State: 5mil< x <10mil</th>
                        <td> 15%</td>
                        <td> 35%</td>
                        <td> 50%</td>
                        <td> ....</td>

                    </tr>
                    <tr>
                        <th scope="row">x <5mil</th>
                        <td> 20%</td>
                        <td> 30%</td>
                        <td> 50%</td>
                        <td> ....</td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}