{% extends "sidebar_static_information.html" %}

{% block script %}
    <script>
        times = 1

        function addState() {
            var newState = '<div class="form-group row">\n' +
                '                        <label for="description">Scope </label>\n' +
                '                        <input type="text" class="form-control" name="description" id="description"\n' +
                '                               placeholder="Scope name">\n' +
                '                    </div>'
            var div = document.createElement("div");
            div.innerHTML = newState;
            document.getElementById('new_states').appendChild(div);
        }

    </script>
{% endblock %}


{% block content %}
    <form action="/gira_assess/gira_assess_response/" , method="post">
        <div id="gira-bar" class="row d-flex flex-grow-1 gira-bar">
            <div class="col-2 gira-bar-nav custom-border-finished">
                {#                <img id="gira-background-assessment" src={{ url_for('static', filename='/images/gira_menu_assessment.jpg') }}#}
                {#                     class="gira-menu-background">#}
                <a class="gira-bar-nav-link custom-white-color" href="/gira_assess/gira_assess_exposure">
                    <h5> Exposure </h5>
                </a>
            </div>
            <div class="col-1 gira-bar-nav ">
                {#                <img id="gira-background-response" src={{  url_for('static', filename='/images/gira_menu_response.jpg') }}#}
                {#                     class="gira-menu-background">#}
                <a class="gira-bar-nav-link  custom-white-color" href="/gira_assess/gira_assess_response">
                    <h5> Response </h5>
                </a>
            </div>
            <div class="col-2 gira-bar-nav ">
                {#                <img id="gira-background-materialisation" src={{  url_for('static', filename='/images/gira_menu_materialisation.jpg') }}#}
                {#                     class="gira-menu-background">#}
                <a class="gira-bar-nav-link custom-white-color" href="/gira_assess/gira_assess_materialisation">
                    <h5> Materialisation </h5>
                </a>
            </div>
            <div class="col-2 gira-bar-nav ">
                {#                <img id="gira-background-consequence" src={{  url_for('static', filename='/images/gira_menu_consequences.jpg') }}#}
                {#                     class="gira-menu-background">#}
                <a class="gira-bar-nav-link   custom-white-color" href="/gira_assess/gira_assess_consequence">
                    <h5> Consequence </h5>
                </a>
            </div>
            <div class="col-2 gira-bar-nav ">
                {#                <img id="gira-background-asset" src={{  url_for('static', filename='/images/gira_menu_asset.jpg') }}#}
                {#                     class="gira-menu-background">#}
                <a class="gira-bar-nav-link   custom-white-color" href="/gira_assess/gira_assess_asset_status">
                    <h5> Asset Status</h5>
                </a>
            </div>
            <div class="col-1 gira-bar-nav ">
                {#                <img id="gira-background-impact" src={{  url_for('static', filename='/images/gira_menu_impact.jpg') }}#}
                {#                     class="gira-menu-background">#}
                <a class="gira-bar-nav-link   custom-white-color" href="/gira_assess/gira_assess_asset_impact">
                    <h5>Impact</h5>
                </a>
            </div>
            <div class="col-2 gira-bar-nav  ">
                {#                <img id="gira-background-objective" src={{  url_for('static', filename='/images/gira_menu_objective.jpg') }}#}
                {#                     class="gira-menu-background">#}
                <a class="gira-bar-nav-link   custom-white-color" href="/gira_assess/gira_assess_objective">
                    <h5> Objective</h5>
                </a>
            </div>
{#            <div class="col-1 gira-bar-nav ">#}
                {#                <img id="gira-background-conclusion" src={{  url_for('static', filename='/images/gira_menu_conclusion.jpg') }}#}
                {#                     class="gira-menu-background">#}
{#                <a class="gira-bar-nav-link custom-white-color" href="/gira_assess/gira_assess_result">#}
{#                    <h5> Result </h5>#}
{#                </a>#}
{#            </div>#}
        </div>
        <div class="row">
            <div class="col-2 custom-select-column">
                <h3> Select Threat to assess with Gira</h3>
                <hr>
                <ul class="list-group list-group-flush">
                    <a href="" class="list-group-item">CAPEC - ####
                    </a>
                    <a class="list-group-item">CAPEC - ####
                    </a>
                    <a class="list-group-item">CAPEC - ####
                    </a>

                </ul>
            </div>
            <div class="col-9 d-flex flex-wrap align-content-start custom-select-column">
                <div class="card bg-light mb-3 custom-card" style="max-width: 18rem;">
                    <div class="card-header"> In Depth Capec Information</div>
                    <div class="card-body">
                        <h4 class="card-title">Description</h4>
                        <p class="card-text"> Lorem Ipsum --- </p>
                        <h4 class="card-title">Skills Required</h4>
                        <p class="card-text"> Lorem Ipsum --- </p>
                        <h4 class="card-title">Consequences</h4>
                        <p class="card-text"> Lorem Ipsum --- </p>
                        <h4 class="card-title"> Typical Severity</h4>
                        <p class="card-text"> Lorem Ipsum --- </p>
                    </div>
                </div>
                <div class="card bg-light mb-3 custom-card" style="max-width: 18rem;">
                    <div class="card-header"> In Depth Threat Assessment</div>
                    <div class="card-body">
                        <h4 class="card-title">Likelihood</h4>

                        <h4 class="card-title">Threat Agent Factory</h4>
                        <p class="card-text"> Skill Level -x</p>
                        <p class="card-text"> Motive -x </p>
                        <p class="card-text"> Opportunity -x</p>


                        <h4 class="card-title">Vulnerability Factors</h4>
                        <p class="card-text"> Ease of discovery - x</p>
                        <p class="card-text"> Ease of exploit - x</p>
                        <p class="card-text"> Awareness -x </p>

                        <h4 class="card-title">Impact</h4>

                        <h4 class="card-title">Technical Impacts</h4>
                        <p class="card-text"> Loss of confidentiality - x</p>
                        <p class="card-text"> Loss of integrity - x</p>
                        <p class="card-text"> Loss of availability -x</p>

                        <h4 class="card-title">Business Impact</h4>
                        <p class="card-text"> >Financial Damage - x</p>
                        <p class="card-text"> Reputation Damage - x</p>
                        <p class="card-text"> Non-compliance - x</p>

                        <hr/>
                        <a href="#" class="card-link"> Redo Assessment</a>
                    </div>
                </div>

                 <div class="card bg-light mb-3 custom-card" style="max-width: 18rem;">
                    <div class="card-header">Final Probabilities</div>
                    <div class="card-body">
                        <h4 class="card-title"> Incident Occurs</h4>
                        <p class="card-text"> x.x % </p>
                        <hr/>
                        <h4 class="card-title"> Incident Averted</h4>
                        <p class="card-text"> x.x % </p>
                        <hr/>
                    </div>
                </div>

                <div class="card bg-light mb-3 custom-card" style="max-width: 18rem;">
                    <div class="card-header">Related Physical Assets</div>
                    <div class="card-body">
                        <h4 class="card-title"> IT Dep Server #1</h4>
                        <p class="card-text"> IP : 192.x.x.x </p>
                        <a href="#" class="card-link"> Inspect Asset ></a>
                        <hr/>
                        <h4 class="card-title"> IT Dep Server #2</h4>
                        <p class="card-text"> IP : 192.x.x.x </p>
                        <a href="#" class="card-link"> Inspect Asset ></a>
                        <hr/>
                        <h4 class="card-title"> CAT Equipment #1</h4>
                        <p class="card-text"> IP : 192.x.x.x </p>
                        <a href="#" class="card-link"> Inspect Asset ></a>
                    </div>
                </div>



            </div>
            <div class="col-1 custom-select-column">
                <button type="submit" name="new_group_flow_form" class="btn btn-primary">Proceed with this threat >
                </button>
            </div>
        </div>
    </form>


{% endblock %}