{% extends "base.html" %}

{% block content %}
    <form action="/gira_assess/gira_assess_objective/" , method="post">
        <div id="gira-bar" class="row d-flex flex-grow-1 gira-bar">
            <div class="col-2 gira-bar-nav ">
                {#                <img id="gira-background-assessment" src={{ url_for('static', filename='/images/gira_menu_assessment.jpg') }}#}
                {#                     class="gira-menu-background">#}
                <a class="gira-bar-nav-link custom-white-color" href="/gira_assess/gira_assess_exposure">
                    <h5> Exposure </h5>
                </a>
            </div>
            <div class="col-1 gira-bar-nav ">
                {#                <img id="gira-background-response" src={{  url_for('static', filename='/images/gira_menu_response.jpg') }}#}
                {#                     class="gira-menu-background">#}
                <a class="gira-bar-nav-link  custom-white-color" href="/gira_assess/gira_assess_response">
                    <h5> Response </h5>
                </a>
            </div>
            <div class="col-2 gira-bar-nav ">
                {#                <img id="gira-background-materialisation" src={{  url_for('static', filename='/images/gira_menu_materialisation.jpg') }}#}
                {#                     class="gira-menu-background">#}
                <a class="gira-bar-nav-link custom-white-color" href="/gira_assess/gira_assess_materialisation">
                    <h5> Materialisation </h5>
                </a>
            </div>
            <div class="col-2 gira-bar-nav ">
                {#                <img id="gira-background-consequence" src={{  url_for('static', filename='/images/gira_menu_consequences.jpg') }}#}
                {#                     class="gira-menu-background">#}
                <a class="gira-bar-nav-link   custom-white-color" href="/gira_assess/gira_assess_consequence">
                    <h5> Consequence </h5>
                </a>
            </div>
            <div class="col-2 gira-bar-nav ">
                {#                <img id="gira-background-asset" src={{  url_for('static', filename='/images/gira_menu_asset.jpg') }}#}
                {#                     class="gira-menu-background">#}
                <a class="gira-bar-nav-link   custom-white-color" href="/gira_assess/gira_assess_asset_status">
                    <h5> Asset Status</h5>
                </a>
            </div>
            <div class="col-1 gira-bar-nav custom-border-finished">
                {#                <img id="gira-background-impact" src={{  url_for('static', filename='/images/gira_menu_impact.jpg') }}#}
                {#                     class="gira-menu-background">#}
                <a class="gira-bar-nav-link   custom-white-color" href="/gira_assess/gira_assess_asset_impact">
                    <h5>Impact</h5>
                </a>
            </div>
            <div class="col-2 gira-bar-nav  ">
                {#                <img id="gira-background-objective" src={{  url_for('static', filename='/images/gira_menu_objective.jpg') }}#}
                {#                     class="gira-menu-background">#}
                <a class="gira-bar-nav-link   custom-white-color" href="/gira_assess/gira_assess_objective">
                    <h5> Objective</h5>
                </a>
            </div>
{#            <div class="col-1 gira-bar-nav ">#}
                {#                <img id="gira-background-conclusion" src={{  url_for('static', filename='/images/gira_menu_conclusion.jpg') }}#}
                {#                     class="gira-menu-background">#}
{#                <a class="gira-bar-nav-link custom-white-color" href="/gira_assess/gira_assess_result">#}
{#                    <h5> Result </h5>#}
{#                </a>#}
{#            </div>#}
        </div>
        <div class="row">
            <div class="col-2 custom-select-column">
                <h3> Selected Threat</h3>
                <hr>
                <ul class="list-group list-group-flush">
                    <div href="" class="list-group-item">CAPEC - ####
                    </div>
                </ul>
                <br>
                <br>
                <br>
                <br>
                <hr>
                <h3> Selected Responses</h3>
                <ul class="list-group list-group-flush">
                    <div href="" class="list-group-item">Response 1 - Do nothing
                    </div>
                    <div href="" class="list-group-item">Response 2 - Add software
                    </div>
                </ul>
            </div>
            <div class="col-9 d-flex flex-wrap align-content-start custom-select-column">
                <h3> IT department Equipment</h3>
                <table class="table  table-bordered">
                    <thead>
                    <tr>
                        <th scope="col" class="custom-table-header"> Consequence</th>
                        <th scope="col" class="custom-table-header" colspan="3">Modify Data</th>
                        <th scope="col" class="custom-table-header" colspan="3">Gain Privilege</th>
                        <th scope="col" class="custom-table-header" colspan="3">Unauthorised Command</th>
                    </tr>
                    </thead>
                    <thead class="thead-light">
                    <tr>
                        <th scope="col" class="custom-table-header"> State</th>
                        <th scope="col" class="custom-table-header">In use</th>
                        <th scope="col" class="custom-table-header">Online</th>
                        <th scope="col" class="custom-table-header">Offline</th>
                        <th scope="col" class="custom-table-header">In use</th>
                        <th scope="col" class="custom-table-header">Online</th>
                        <th scope="col" class="custom-table-header">Offline</th>
                        <th scope="col" class="custom-table-header">In use</th>
                        <th scope="col" class="custom-table-header">Online</th>
                        <th scope="col" class="custom-table-header">Offline</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">Impact:Available</th>
                        <td> xx%</td>
                        <td> yy%</td>
                        <td> xx%</td>
                        <td> yy%</td>
                        <td> xx%</td>
                        <td> yy%</td>
                        <td> xx%</td>
                        <td> yy%</td>
                        <td> xx%</td>
                    </tr>
                    <tr>
                        <th scope="row">Impact:Defective</th>
                        <td> xx%</td>
                        <td> yy%</td>
                        <td> xx%</td>
                        <td> yy%</td>
                        <td> xx%</td>
                        <td> yy%</td>
                        <td> xx%</td>
                        <td> yy%</td>
                        <td> xx%</td>
                    </tr>
                    <tr>
                        <th scope="row">Impact:Broken</th>
                        <td> xx%</td>
                        <td> xx%</td>
                        <td> xx%</td>
                        <td> yy%</td>
                        <td> xx%</td>
                        <td> yy%</td>
                        <td> xx%</td>
                        <td> yy%</td>
                        <td> xx%</td>
                    </tr>
                    </tbody>
                </table>

                <hr/>
                <h3> Doctors </h3>
                <table class="table  table-bordered">
                    <thead>
                    <tr>
                        <th scope="col" class="custom-table-header"> Consequence</th>
                        <th scope="col" class="custom-table-header" colspan="3">#1</th>
                        <th scope="col" class="custom-table-header" colspan="3">#2</th>
                        <th scope="col" class="custom-table-header" colspan="3">#3</th>
                    </tr>
                    </thead>
                    <thead class="thead-light">
                    <tr>
                        <th scope="col" class="custom-table-header"> State</th>
                        <th scope="col" class="custom-table-header">#1</th>
                        <th scope="col" class="custom-table-header">#2</th>
                        <th scope="col" class="custom-table-header">#3</th>
                        <th scope="col" class="custom-table-header">#1</th>
                        <th scope="col" class="custom-table-header">#2</th>
                        <th scope="col" class="custom-table-header">#3</th>
                        <th scope="col" class="custom-table-header">#1</th>
                        <th scope="col" class="custom-table-header">#2</th>
                        <th scope="col" class="custom-table-header">#3</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">Impact:xxe</th>
                        <td> xx%</td>
                        <td> yy%</td>
                        <td> xx%</td>
                        <td> yy%</td>
                        <td> xx%</td>
                        <td> yy%</td>
                        <td> xx%</td>
                        <td> yy%</td>
                        <td> xx%</td>
                    </tr>
                    <tr>
                        <th scope="row">Impact:xx</th>
                        <td> xx%</td>
                        <td> yy%</td>
                        <td> xx%</td>
                        <td> yy%</td>
                        <td> xx%</td>
                        <td> yy%</td>
                        <td> xx%</td>
                        <td> yy%</td>
                        <td> xx%</td>
                    </tr>
                    <tr>
                        <th scope="row">Impact:xx</th>
                        <td> xx%</td>
                        <td> xx%</td>
                        <td> xx%</td>
                        <td> yy%</td>
                        <td> xx%</td>
                        <td> yy%</td>
                        <td> xx%</td>
                        <td> yy%</td>
                        <td> xx%</td>
                    </tr>
                    </tbody>
                </table>

            </div>


            <div class="col-1 custom-select-column">
                <button type="submit" name="new_group_flow_form" class="btn btn-primary">Proceed >
                </button>
            </div>
        </div>

        </div>
    </form>


{% endblock %}