{% extends "sidebar_asset_management.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{#{% block header %}#}
{#<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/repo.css') }}">#}
{#{% endblock %}#}
{#{% block head %}#}
{##}
{#{% endblock %}#}
{% block script %}
    <script>

    </script>
{% endblock %}

{% block content %}
    <h1>Asset-Threat Risk Configuration</h1>
    <hr/>
    <div class="row">
        <div class="col-12">

            <h3>Current Selected Threat:
                <div class="dropdown">
                    <button class="btn btn-primary">{{ this_threat[0].name }}</button>
                    <div class="dropdown-list">
                        {% for threat in repo_threats %}
                            <a href="/repo/risk/configuration/threat/{{ threat.id }}/">{{ threat.name }}</a>
                        {% endfor %}
                    </div>
                </div>
                {#                {% for threat in repo_threats %}#}
                {#                    <option value="{{ threat.id }}">#}
                {#                        <a href="http://{{ serverAddress }}:{{ serverPort }}/repo/dashboard/risk/objectives/"#}
                {#                           class="list-group-item list-group-item-action bg-dark text-white">#}
                {#                    <span class="fa fa-dashboard fa-fw mr-3"></span>#}
                {#                            {{ threat.name }}#}
                {#                        </a>#}
                {#                    </option>#}
                {#                {% endfor %}#}
            </h3>
            <br/>
{#            <h4>Threat Exposure</h4>#}
{#            <h6> This value is the user estimation about the specific threat and is optional.</h6>#}
{#            <h6>The final value is calculated in conjuction with#}
{#                threat forecasting</h6>#}
{#            <hr/>#}
{#            <div class="row dashboard-row">#}
{#                <div class="col-2">#}
{#                    |None#}
{#                </div>#}
{#                <div class="col-2">#}
{#                    |Very Low#}
{#                </div>#}
{#                <div class="col-2">#}
{#                    |Low#}
{#                </div>#}
{#                <div class="col-2 ">#}
{#                    |Medium#}
{#                </div>#}
{#                <div class="col-2">#}
{#                    |High#}
{#                </div>#}
{#                <div class="col-2">#}
{#                    |Critical#}
{#                </div>#}
{#            </div>#}
{#            <input type="range" class="form-control-range" id="objective_state_alert_3" step="1"#}
{#                   min="0"#}
{#                   max="5" value="0" , name="objective_state_alert_3">#}
{#            <br/>#}
            {#    <a class="btn btn-primary" href="/repo/threats/"> Detailed Threat View </a>#}
            <h4>Assets</h4>
            <h6>Select each asset to setup the relation between the assetand the threat. This process needs to be
                completed for each asset individually.</h6>
            <h6>These values are supplemented with available asset information.</h6>
            <hr/>
            <div class="row dashboard-row">
                {% for asset in repo_assets %}
                    {% if asset.id|string == asset_id|string %}
                        <a href="/repo/risk/configuration/threat/{{ threat_id }}/asset/{{ asset.id }}/"
                           class="btn btn-primary fa fa-edit"
                           style="margin-bottom: 3px; background-color: #447e9b">
                            Asset | {{ asset.name }}
                        </a>
                    {% else %}
                        <a href="/repo/risk/configuration/threat/{{ threat_id }}/asset/{{ asset.id }}/"
                           class="btn btn-primary fa fa-check"
                           style="margin-bottom: 3px; background-color: #00cc00">
                            Asset | {{ asset.name }}
                        </a>
                    {% endif %}
                {% endfor %}

            </div>
            {% if asset_id != '-1' %}
                <form action="/repo/risk/configuration/threat/{{ threat_id }}/asset/{{ asset_id }}/" method="post">
                    <div class="row dashboard-row">
                        <div class="col-6">
                            <h4>Threat Materialisation Calculation </h4>
                            {% for materialisation_calculation_wrapper in array_threat_materialisation_calculation %}
                                <h6>Materialisation
                                    | {{ materialisation_calculation_wrapper[0].materialisation.name }}</h6>
                                {% for materialisation_calculation in materialisation_calculation_wrapper %}
                                    <div class="row dashboard-row">
                                        <div class="col-2 custom-select-column">
                                            Response: {{ materialisation_calculation.response.name }}
                                            Threat Occurs: {{ materialisation_calculation.threat_occurrence }}
                                        </div>
                                        <div class="col-10">
                                            <div class="row dashboard-row">
                                                <div class="col-2">
                                                    0%
                                                </div>
                                                <div class="col-2">
                                                    25%
                                                </div>
                                                <div class="col-2">
                                                    50%
                                                </div>
                                                <div class="col-2 ">
                                                    75%
                                                </div>
                                                <div class="col-2">
                                                    100%
                                                </div>
                                            </div>
                                            <div class="row dashboard-row">
                                                <div class="col-10">
                                                    <input type="range" class="form-control-range"
                                                           name="mat|{{ materialisation_calculation.materialisation.id }}|{{ materialisation_calculation.response.id }}|{{ materialisation_calculation.threat_occurrence }}"
                                                           id="mat|{{ materialisation_calculation.materialisation.id }}|{{ materialisation_calculation.response.id }}|{{ materialisation_calculation.threat_occurrence }}"
                                                           step="1"
                                                           min="0"
                                                           max="100" value="{{ materialisation_calculation.prob }}" ,
                                                           name="objective_state_alert_3">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        </div>
                        <div class="col-6">
                            <h4>Threat Consequence Calculation</h4>
                            {% for consequence_calculation_wrapper in array_threat_consequence_calculation %}
                                <h6>Consequence | {{ consequence_calculation_wrapper[0].consequence.name }}</h6>
                                {% for consequence_calculation in consequence_calculation_wrapper %}
                                    <div class="row dashboard-row">
                                        <div class="col-2 custom-select-column">
                                            Response: {{ consequence_calculation.response.name }}
                                            Threat Occurs: {{ consequence_calculation.threat_occurrence }}
                                        </div>
                                        <div class="col-10">
                                            <div class="row dashboard-row">
                                                <div class="col-2">
                                                    0%
                                                </div>
                                                <div class="col-2">
                                                    25%
                                                </div>
                                                <div class="col-2">
                                                    50%
                                                </div>
                                                <div class="col-2 ">
                                                    75%
                                                </div>
                                                <div class="col-2">
                                                    100%
                                                </div>
                                            </div>
                                            <div class="row dashboard-row">
                                                <div class="col-10">
                                                    <input type="range" class="form-control-range"
                                                           name="cons|{{ consequence_calculation.consequence.id }}|{{ consequence_calculation.response.id }}|{{ consequence_calculation.threat_occurrence }}"
                                                           id="cons|{{ consequence_calculation.consequence.id }}|{{ consequence_calculation.response.id }}|{{ consequence_calculation.threat_occurrence }}"
                                                           step="1"
                                                           min="0"
                                                           max="100" value="{{ consequence_calculation.prob }}" ,
                                                           name="objective_state_alert_3">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        </div>
                    </div>


                    <div class="row dashboard-row">
                        <button type="submit" class="btn btn-primary" style="margin-right: 3px; ">
                            Submit
                        </button>
                    </div>
                </form>
            {% else %}
                <h2>Please Select a specific asset</h2>
            {% endif %}
        </div>
        {#        <div class="col-2">#}
        {#            <h3>Current Selections</h3>#}
        {#            <hr/>#}
        {#            Threat: Ransomware#}
        {#            <br/>#}
        {#            Asset: Asset1#}
        {#        </div>#}
    </div>
{% endblock %}
