{#{% extends "base.html" %}#}
{% extends "sidebar_static_information.html" %}

{% block content %}
<form action="/assets/{{asset}}/vulnerabilities/{{vulnerability}}/threats/{{threat}}/" , method="post">
    <div class="row d-flex information-bar">
        <div class="col-8">
            <h5> Assets Setup: 5/10 Remaining: 5</h5>
        </div>
        <div class="col-2">
            <button type="submit" class="btn btn-primary"> Update Threat Info ></button>
        </div>
        <div class="col-2">
            <a href="http://{{ serverAddress }}:{{ serverPort }}/home" class="btn btn-primary">Done ></a>
        </div>
    </div>
    <div class="row">
        <div class="col-2 custom-select-column">
            <h3> Select Asset</h3>
            <hr>
            <ul class="list-group list-group-flush">
                <a href="" class="list-group-item">Asset 1
                    <br>(0/10 Vulnurabilities Configured)
                </a>
                <a class="list-group-item">Asset 2
                    <br>(0/10 Vulnurabilities Configured)
                </a>
                <a class="list-group-item">Asset 3
                    <br>(0/10 Vulnurabilities Configured)
                </a>

            </ul>
        </div>
        <div class="col-2 custom-select-column">
            <h3> Select CVE</h3>
            <hr>
            <ul class="list-group list-group-flush">
                <a href="" class="list-group-item">CVE - ####
                </a>
                <a class="list-group-item">CVE - ####
                </a>
                <a class="list-group-item">CVE - ####
                </a>

            </ul>
        </div>
        <div class="col-2 custom-select-column">
            <h3> Select Threat</h3>
            <hr>
            <ul class="list-group list-group-flush">
                <a href="" class="list-group-item">CAPEC - ####
                </a>
                <a class="list-group-item">CAPEC - ####
                </a>
                <a class="list-group-item">CAPEC - ####
                </a>

            </ul>
        </div>
        <div class="col-3 d-flex flex-wrap align-content-start">
            <div class="row flex-grow custom-select-column-header">
                <h3> Likelihood &lt Medium 50% &gt </h3>
                <h4> Threat Agent Factory </h4>
                <label for="formControlRange">Skill Level</label>
                <input type="range" class="form-control-range" id="formControlRange">
                <label for="formControlRange">Motive</label>
                <input type="range" class="form-control-range" id="formControlRange">
                <label for="formControlRange">Opportunity</label>
                <h4> Vulnerability Factors</h4>
                <input type="range" class="form-control-range" id="formControlRange">
                <label for="formControlRange">Ease of discovery</label>
                <input type="range" class="form-control-range" id="formControlRange">
                <label for="formControlRange">Ease of exploit</label>
                <input type="range" class="form-control-range" id="formControlRange">
                <label for="formControlRange">Awareness</label>
                <input type="range" class="form-control-range" id="formControlRange">
            </div>

        </div>
        <div class="col-3 d-flex flex-wrap align-content-start">
            <div class="row flex-grow custom-select-column-header">
                <h3> Impact &lt Medium 59% &gt </h3>
                <h4> Technical Impact Factor</h4>
                <label for="formControlRange">Loss of confidentiality</label>
                <input type="range" class="form-control-range" id="formControlRange">
                <label for="formControlRange">Loss of integrity</label>
                <input type="range" class="form-control-range" id="formControlRange">
                <label for="formControlRange">Loss of availability</label>
                <input type="range" class="form-control-range" id="formControlRange">
                <h4> Business Impact Factors</h4>
                <label for="formControlRange">Financial Damage</label>
                <input type="range" class="form-control-range" id="formControlRange">
                <label for="formControlRange">Reputation Damage</label>
                <input type="range" class="form-control-range" id="formControlRange">
                <label for="formControlRange">Non-compliance</label>
                <input type="range" class="form-control-range" id="formControlRange">
            </div>

        </div>
    </div>
</form>
{% endblock %}