{% extends "sidebar_asset_management.html" %}
{% import "bootstrap/wtf.html" as wtf%}
{#{% block header %}#}
{#<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/repo.css') }}">#}
{#{% endblock %}#}
{#{% block head %}#}
{##}
{#{% endblock %}#}
{% block script %}
    <script>
        var $table = $('#table')

        function loadingTemplate() {
            return '<i class="fa fa-spinner fa-spin fa-fw fa-2x"></i>'
        }


        $(function () {
            var data = {{ repo_services | safe }};
            console.log(data)
            $table.bootstrapTable({data: data});
        })
    </script>
{% endblock %}

{% block content %}
    <h1>Business Services </h1>
    <hr/>
    <form action="/repo/services/" method="post" novalidate>
     {{ wtf.quick_form(new_service_form) }}
{#        <p>{{ wtf.form_field(new_actor_form.submit()) }}</p>#}
    </p>
    </form>
    <hr/>
    <div id="toolbar">
        <button id="remove" class="btn btn-danger" disabled>
            <i class="fa fa-trash"></i> Delete
        </button>
    </div>
    <table
            id="table"
            data-toolbar="#toolbar"
            data-search="true"
            data-search-on-enter-key="true"
            data-show-search-button="true"
            data-show-refresh="true"
            data-show-toggle="true"
            data-show-fullscreen="true"
            data-show-columns="true"
            data-show-columns-toggle-all="true"
            data-loading-template="loadingTemplate"
            data-pagination="true"
            data-page-list="[10, 25, 50, 100, all]"
            show-button-icons="true"
    >
        <thead>
        <tr>
            <th data-field="id" data-sortable="true">ID</th>
            <th data-field="name" data-sortable="true">Name</th>
        </tr>
        </thead>
    </table>

{% endblock %}
